* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.home-body {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

:root {
  --greenBlue-color: #60d0ad;
  --grey-color: #434a54;
  --light-grey-color: #ccd1d9;
  --font-buntu: "Ubuntu", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

header {
  background-color: var(--light-grey-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-buntu);
}

/* LOGO */
.logo-container {
  width: 25rem;
}
.logo-container__image {
  width: 25rem;
  object-fit: cover;
}

/* ABOUT */
.about {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}
.about:hover {
  color: var(--greenBlue-color);
}

/* ICONS */
.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-item {
  list-style: none;
}
.icon-item__image {
  width: 5rem;
}
.icon-item__image:hover {
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
  background-color: var(--greenBlue-color);
}

/* MAIN */
.home-main {
  font-family: var(--font-roboto);
  height: 100vh;
}
.hero {
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-container__description {
  padding-top: 10%;
  color: white;
}
