header {
  flex-wrap: wrap;
}

.icons-container {
  display: none;
}

.about {
  margin-bottom: 1rem;
}

.hero {
  font-size: 2rem;
}
.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-container__description {
  padding: 0 0 1rem;
}
.hero-container__btn-blog {
  margin: 0 1%;
}
.home-footer {
  height: fit-content;
  flex-direction: column;
  align-items: center;
}
.icons-container-footer {
  display: flex;
  margin-top: 1.6rem;
}
